.home {
    .heading {
        @media only screen and (max-width: 576px) {
            background: rgba($color: $color-white, $alpha: .2);
            backdrop-filter: blur(5px);
            border-radius: 10px;
        }
    }
    .post-create-button-wrapper {
        .modal-body{
            padding: 2rem 1.25rem;

            input {
                padding: 10px;
            }

            textarea {
                resize: none;
                width: 100%;
                height: 200px;
                padding: 10px;
            }

            input:focus, textarea:focus {
                border: 1px solid $color-primary;
                box-shadow: 0 0 0 .25rem rgba($color-primary, .25)
            }
        }
    }
}
