.header {
    background: rgba($color: #fff, $alpha: .8);
    backdrop-filter: blur(2px);

    .topbar {
        border-bottom: 1px solid rgba($color: #000000, $alpha: .05);
    }
    .navbar {
        button.navbar-toggler {
            height: 60px;
            width: 62px;
            position: relative;
            border: none;
            outline: none;

            &:active, &:focus {
                outline: none;
                border: none;
                box-shadow: none;
            }

            &[aria-expanded=true]{
                .navbar-toggler-icon {
                    transform: rotate(225deg);
                    &::after {
                        top: 44%;
                        width: 30px;
                        transform: rotate(270deg);
                    }
                    &::before {
                        display: none;
                    }
                }
            }
            .navbar-toggler-icon{
                position: absolute;
                top: 50%;
                right: 20%;
                width: 30px;
                height: 2px;
                background: $color-grey;
                transition: all .2s ease-in-out;
                transform: rotate(0deg);
                border: none;

                &::before, &::after {
                    transition: all .2s ease-in-out;
                    content: "";
                    position: absolute;
                    right: 0;
                    height: 2px;
                    background: $color-grey;
                    transform: rotate(0deg);
                }
                &::before {
                    top: -500%;
                    width: 36px;
                }
                &::after {
                    bottom: -500%;
                    width: 24px;
                }
            }
        }
    }
}
