* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}
button:focus,
button.navbar-toggler:focus,
button:active,
.btn:focus {
    box-shadow: none;
    outline: none;
    border: none;
}
