* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

.App {
    min-height: 100vh;
    background-image: url(../../assets/images/creeper1.png), 
                        url(../../assets/images/bg3.jpg);
    background-size: 30%, cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left, center center;

    @media only screen and (max-width: 992px) {
        background-size: 50%, cover;
    }
    @media only screen and (max-width: 768px) {
        background-size: 60%, cover;
    }
    @media only screen and (max-width: 576px) {
        background-size: 70%, cover;
    }
}