.card {
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba($color: $color-black, $alpha: .3);
    max-width: 34rem;
    background: rgba($color: $color-white, $alpha: .4);

    &.blurred {
        backdrop-filter: blur(2px);
        @media only screen and (max-width: 576px) {
            backdrop-filter: none;
        }
        .card__info {
            backdrop-filter: blur(2px);

            @media only screen and (max-width: 576px) {
                backdrop-filter: none;
            }
        }
    }

    @media only screen and (max-width: 576px) {
        background: rgba($color: $color-white, $alpha: .7);
    }

    &__info {
        background: rgba($color: $color-white, $alpha: .3);

        @media only screen and (max-width: 576px) {
            background: rgba($color: $color-white, $alpha: .6);
        }

        .left i {
            font-size: 3rem;
        }
        .right {
            .name h2 {
                font-size: 1.6rem;
                font-size: clamp(1.2rem, 10vw, 2rem);
            }
            .datetime h4 {
                font-size: .8rem;
                font-size: clamp(.6rem, 10vw, .9rem);
            }
        }
    }
    &__details {
        color: $color-grey-dark;

        &.short {
            font-size: 150%;
            font-weight: 500;
            text-align: center;
        }
    }
}
